* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: arial, sans-serif;
    color: #333;
    background-color: #f7f7f7;
    line-height: 1.6;
}

.navbar {
    background-color: #f3a683;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgb(0, 0, 0.1);
}

.navbar .logo {
    height: 50px;
    margin-right: 10px;
}

.navbar h1 {
    font-size: 24px;
    color: #fff;
}

.search-section {
    text-align: center;
    padding: 20px;
}
.search-bar {
    padding: 10px;
    width: 60%;
    max-width: 400px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.search-button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #f3a683;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.search-button:hover {
    background-color: #e17055;
}

.recipes-section {
    padding: 20px;
    text-align: center;
}

.recipes-section h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.recipe-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 250px;
    margin: 20px auto;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.recipe-card .recipe-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.recipe-card h3 {
    font-size: 18px;
    padding: 10px;
    color: #333;
}

.recipe-card p {
    font-size: 14px;
    padding: 0 10px;
    color: #666;
}

.preview-button, .save-button {
    margin: 10px;
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.preview-button {
    background-color: #74b9ff;
    color: #fff;
}

.preview-button:hover {
    background-color: #0984e3;
}

.save-button {
    background-color: #55efc4;
    color: #fff;
}

.save-button:hover {
    background-color: #00b894;
}


footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 14px;
}
